<!DOCTYPE html>
<%#include "blog.h" %>
<% tfetch(QVariantMap, blog); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Blog</h1>

<%== formTag(urla("save", blog["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="blog[id]" value="<%= blog["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Title<br /><input type="text" name="blog[title]" value="<%= blog["title"] %>" /></label>
  </p>
  <p>
    <label>Body<br /><input type="text" name="blog[body]" value="<%= blog["body"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", blog["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
